header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
}
header > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header > img{
    width:50%;
}

.youtube__search-input {
    width: 40%;
    display: flex;
    border: 1px solid grey;
    max-height: 26px;
}
.youtube__search-input button{
    border: none;
    cursor: pointer;
}
.youtube__search-input button:hover{
    background-color: rgb(216, 212, 212);
}
.youtube__search-input input {
    border: none;
    flex:1;
}
.youtube__actions{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
main{
    background-color: rgb(238, 238, 238);
}
h2{
    padding: 10px 20px;
}
.youtube__videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.youtube__videos__info{
    display: flex;
}
.youtube__videos__info__img > img{
    width: 40px;
    border-radius: 50%;
    margin: 0px 10px;
}
.youtube__videos__info__text p:first-child{
    line-height: normal;
}
.youtube__videos__info__text{
    line-height: 1px;
}
aside{
    width: 30%; 
}
aside > section{
    border-bottom: thin solid lightgray;
    display: flex;
    flex-direction: column;
}
.contenido{
    display:flex;
}
h4{
    color: rgb(157, 158, 158);
    padding-bottom: 0px;
    margin-bottom :0px;
}
iframe{
    width: 200px;
}
.youtube__menu__susc img {
    width: 40px;
    border-radius: 50%;
    margin: 0px 10px;
}
.youtube__menu__susc{
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
    padding-bottom: 2px;
}
.youtube__menu__info{
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
    padding-bottom: 2px;
}
.youtube__menu__info img {
    width: 15%;
    margin: 0px 10px;
}
